:root {
  /* text-shadow: var(--text-shadow); */
  --dark-blue: #123674;
  --dark-green: #00594a;
  --blue-gray: #899bba;
  --light-green: #80aca5;
  --gray: #b2b8c3;
  --beige: #cdcbb8;
  --light-gold: #e0dbb3;
  --gold: #dce2ce;
  --tan: #dce2ce;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--tan);
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.targetBox {
  height: 20vh;
  display: flex;
  flex: 1;
  flex-flow: column;
  align-items: center;
  color: var(--dark-blue);
}

#title {
  font-size: 8vh;
  font-weight: bold;
}

#target {
  font-size: 6vh;
  background-color: var(--light-gold);
  color: var(--dark-green);
  border-radius: 1vmin;
  padding: 1vmin;
}

#instructions {
  width: 80vmin;
  font-size: 3vmin;
  align-items: center;
}

.container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: center;
  /* align-content: center; */
  margin: 0.5em;
}

.box {
  /* padding: 0.5em; */
  margin: 0.5vmin;
  display: flex;
  flex-flow: column;
  flex: 2;
  background-color: var(--beige);
  border-radius: 3vmin;
  max-width: 15vw;
  /* max-height: 5vh; */
  padding: 1vw;
  /* height: 10vh; */
  align-content: center;
  justify-content: center;
  align-items: center;
}

.box:hover,
.box.selected {
  background-color: var(--blue-gray);
}

.item,
.btnNewGame {
  /* background-color: white; */
  font-size: 3vmin;
  border-radius: 3vmin;
  margin: 0.5vmin;
  padding: 2vw;
  max-width: 11vw;
  /* width: 15vw; */
  width: 11vw;
  /* height: 6vh; */
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
}

.item {
  background-color: var(--gray);
}

.box.selected > .item {
  background-color: var(--gold);
}

.btnNewGame {
  background-color: var(--dark-green);
  color: var(--tan);
}

#buttonBox {
  padding: 1vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#operatorBox,
.controlBox {
  position: relative;
  /* padding: 3vw; */
  /* margin: 1vw; */
  display: flex;
  flex-flow: row;
  /* background-color: rgb(1, 0.8, 0, 0.2); */
  border-radius: 3vmin;
  /* max-width: 12em; */
  width: 9vw;
  align-items: center;
  justify-cownt: center;
}

.operator {
  /* margin: 1vmin; */
  /* padding: 1vmin; */
  background-color: white;
  border-radius: 1em;
  /* min-width: 2em; */
  /* min-height: 2em; */
  width: 4vw;
  height: 4vw;
  justify-content: center;
  align-content: center;
  text-align: center;
  box-shadow: none;
}

footer {
  position: absolute;
  top: 60vh;
  /* float: */
  height: 10vh;
  padding: 3vmin;
  align-items: center;
}

.controlBox {
  /* position: fixed; */
  bottom: 0vh;
  float: left;
  width: 60vw;
  /* background-color: var(--light-gold); */
  opacity: 0.7;
}

.controlBox > button {
  margin: 1vw;
  padding: 1vw;
  background-color: var(--light-green);
  color: var(white);
  font-weight: bold;
  font-size: 3vw;
  border-radius: 1vmin;
  min-width: 2em;
  min-height: 2em;
  justify-content: center;
  align-content: center;
  text-align: center;
  box-shadow: none;
  height: 10vh;
}

.controlBox > button > span {
  padding: 1vmin;
}

.modal {
  position: absolute;
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-image: radial-gradient(var(--gray), var(--light-blue)); */
  background-color: black;
  opacity: 0.7;
}

/* Modal Content/Box */
.modal-content {
  /* display: flex; */
  /* flex-flow: column; */
  color: var(--dark-blue);
  width: 60vw;
  height: 30vh;
  user-select: none;
  background-color: var(--tan);
  border: 1vmin solid var(--gray);
  border-radius: 1vmin;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  padding: 5vmin;
}

#game-result-modal {
  display: grid;
  position: absolute;
  top: 5vmin;
  /* left: 50vmin; */
  /* grid-row-gap: 76vmin; */
  /* --modal-items-border-radius: 1vmin; */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
